iframe{
    border-width: 0px;
    height: 70px;
    width: 500px;
    position: absolute;
    left: 35%;
}

body{
    background-color: palegreen;
}

p{
    text-align: center;
    font-family: tahoma;
}

h1{
    text-align: center;
    font-family: tahoma;
    font-size: 40px;
}

h1.thanks{
    text-align: center;
    font-family: tahoma;
    font-size: 40px;
    position: relative;
    bottom: -80px;
}

p.thanks{
    text-align: center;
    font-family: tahoma;
    position: relative;
    bottom: -80px;
}